/* Estilos CSS para el cuerpo y el fondo */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: grid;
    justify-content: center; 
    min-height: 100vh; /* Fondo del cuerpo */
}

/* Estilos CSS para el color de fondo del menú */
.black-menu {
    background-color: black; /* Fondo del menú */
    color: white;
    top: 0;
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 1;
    align-items: center; /* Alineación del menú */
}

/* Estilos CSS para los elementos del menú */
.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos CSS para las imágenes del menú */
.menu-item img {
    width: 19%; 
    border-radius: 5%;
}


/* Estilos CSS para el espacio entre elementos del menú */
.menu-item span {
    margin: 0 1%;
    font-family: 'Kanit', sans-serif;
    font-size: 2.6em;
}

/* Estilos CSS para los enlaces del menú */
.menu-link {
    position: relative; /* Enlaces del menú */
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    font-size: 2.6em;
}

/* Estilos CSS para las animaciones de los enlaces del menú */
.menu-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2em;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.7s;
}

/* Animación al pasar el cursor sobre los enlaces */
.menu-link:hover::after {
    transform: scaleX(1); 
}



/* Estilos para el primer contenedor */
.contenedor {
    position: relative;
    height: 100vh; 
}

.imagen-contenedor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    object-fit: cover; 
    width: 100%;
    height: 120vh; 
}

.texto-boton-contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255); 
    font-size: 4em;
    font-family: 'Kanit', sans-serif;
    font-style: italic;
}

.titulo,
.titulo2 {
    margin: 0;
}

.boton {
    margin-top: 20px;
    font-size: 0.7em;
    padding: 20px 30px;
    background-color: yellow;
    border: none;
    cursor: pointer; 
    margin-top: 5%;
}

.titulo2 {
    color: yellow;
}






/* Estilos para el segundo contenedor */
.contenedor2 {
    position: relative;
    height: 100vh; 
}


.textos-izquierda {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%); 
}

.ti1 {
    color: rgb(255, 255, 0);
    font-family: 'Anton', sans-serif;
    font-size: 4.5em;
    font-style: italic;
}

.pi1 {
    color: white;
    text-align: center;
    margin-left: 10%;
    text-decoration: underline;
    font-size: 2.3em;
}

.imagenes-superpuestas1 {
    position: absolute;
    text-align: right;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.imagenes-superpuestas2 {
    position: absolute;
    text-align: right;
    top: 70%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.img3 {
width: 140%;
height: 140%;


}

.img4 {
    width: 150%;
    height: 150%;
    
    
    }




/* Estilos para el tercer contenedor */
.contenedor3 {
    position: relative;
    height: 100vh; 
}


.textos-centrados {
    display: block;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.ti2 {
    color: rgb(255, 255, 0);
    font-family: 'Anton', sans-serif;
    font-size: 4.5em;
    font-style: italic;
    text-align: center;
}

.pi2 {
    color: white;
    text-align: center;
    margin-left: 10%;
    text-decoration: underline;
    font-size: 2.3em;
}

.imagenes-superpuestas3 {
    position: absolute;
    text-align: right;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.imagenes-superpuestas4 {
    position: absolute;
    text-align: right;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagenes-superpuestas5 {
    position: absolute;
    text-align: right;
    top: 60%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.img5 {
width: 150%;
height: 150%;


}

.img6 {
    width: 150%;
    height: 150%;
    
    
}

.img7 {
    width: 150%;
    height: 150%;
    
    
}





/* Estilos para el tcuarto contenedor */
.contenedor4 {
    position: relative;
    height: 100vh; 
}

.textos-centrados2 {
    display: block;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%); 
}



.ti3 {
    color: rgb(255, 255, 0);
    font-family: 'Anton', sans-serif;
    font-size: 4.5em;
    font-style: italic;
    text-align: center;
}

.pi3 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 10%;
    font-size: 1.8em;
    font-family: 'Anton', sans-serif;
}

.aut{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 10%;
    font-size: 1.5em;
    font-style: italic;
    font-family: 'Anton', sans-serif;
}

.imagenes-superpuestas6 {
    position: absolute;
    text-align: right;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.imagenes-superpuestas7 {
    position: absolute;
    text-align: right;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagenes-superpuestas8 {
    position: absolute;
    text-align: right;
    top: 70%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.img8 {
width: 135%;
height: 135%;


}

.img9 {
    width: 135%;
    height: 135%;
    
    
}

.img10 {
    width: 135%;
    height: 135%;
    
    
}




/* Estilos para el quinto contenedor */
.contenedor5 {
    position: relative;
    height: 100vh; 
}


.textos-izquierda2 {
    display: block;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%); 
}

.textos-organizados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px; /* Espacio entre las columnas */
    text-align: left;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.ti4,
.ti5,
.pi4 {
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-style: italic;
}

.ti4 {
    color: rgb(255, 255, 0);
    font-size: 4.5em;
}

.ti5 {
    color: rgb(0, 0, 0);
    font-size: 3em;
}

.pi4 {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}